<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Redminer"
            id="Redminer"/>
      <view
            category="Redminer"
            class="redminer.views.Redminer"
            icon="icons/sample.gif"
            id="redminer.views.Redminer"
            name="Redminer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="redminer.views.Redminer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="redminer.ReconnectHandler"
            commandId="Redminer.reconnectCommand">
      </handler>
      <handler
            class="redminer.RefreshHandler"
            commandId="Redminer.refreshCommand">
      </handler>
      <handler
            class="redminer.CreateIssueHandler"
            commandId="Redminer.createIssueCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="Redminer.reconnectCommand"
            name="Reconnect">
      </command>
      <command
            id="Redminer.refreshCommand"
            name="Refresh">
      </command>
      <command
            id="Redminer.createIssueCommand"
            name="CreateIssue">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:redminer.views.Redminer">
         <command
               commandId="Redminer.reconnectCommand"
               label="Переподключиться"
               style="push">
         </command>
         <command
               commandId="Redminer.refreshCommand"
               label="Обновить"
               style="push">
         </command>
         <command
               commandId="Redminer.createIssueCommand"
               label="Создать задачу"
               style="push">
         </command>
      </menuContribution>
   </extension>
	
</plugin>
